<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMUI.GUI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SMUI.GUI.My.MySettings>
            <setting name="上次发送用户统计的日期" serializeAs="String">
                <value />
            </setting>
            <setting name="图标" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="普通字体" serializeAs="String">
                <value>Microsoft YaHei UI, 9pt</value>
            </setting>
        </SMUI.GUI.My.MySettings>
    </userSettings>
</configuration>